.scheduler {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
                    "nav nav"
                    "calendar list";
}

.controls {
    grid-area: nav;
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controls  button:first-child {
    margin-right: 24px;
}

.date {
    font-size: 22px;
    font-weight: 700;

    color: #3c4043;

    margin-left: 24px;
}

.languages {
    min-width: 48px !important;
}